html, body, canvas, div, ul, li {
    margin: 0;
    padding: 0;
    border: none;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #002b36;
    color: #586e75;

    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
    font-style: normal;

    display: table;
    overflow: hidden;
}

.header {
    font-size: 4rem;
    line-height: 4rem;
    letter-spacing: 1rem;
}

.header {
    position: relative;
    top: -1.85rem;
}

.content {
    width: 100%;
    position: relative;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.main-container {
    text-align: right;
    position: relative;
    top: -2.85rem;
    display: inline-block;
    margin-top: 1.75rem;
    margin-bottom: 1rem;
}

canvas {
    box-shadow: 0 5px 20px #000507;
    z-index: 1;
}

.info {
    position: absolute;
    left: 0;
    padding-left: 0.5rem;
    text-align: left;
    width: 15.5rem;
    z-index: 2;
    pointer-events: none;
}

.movemouse {
    margin-top: 0.5rem;
}

.keys {
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}

.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    line-height: 2rem;
    padding-right: 0.5rem;
}

.info a {
    pointer-events: auto;
}

a:link, a:visited {
    color: #2aa198;
}

a:hover {
    color: #859900;
}

.key {
    color: #dc322f;
    font-weight: 600;
}
